body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td {margin:0; padding:0;} 
.ui-content{padding: 0 !important;} /*填充边框留白*/
/*.ui-ul-f{position: relative;  overflow: hidden; padding: 0;}*/